<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
</head>
<body>
<h1>Login page</h1>
<p>
    <span th:if="${loginErrorMsg != null}" class="error" th:text="${loginErrorMsg}"></span>
</p>
<form th:action="@{/login}" method="post" commandName="loginForm" autocomplete="off" th:object="${serviceUrl}">
    <!--<p th:if="${#fields.hasErrors('all')}" th:errors="*{all}">Invalid Credentials</p>-->
    <label for="username">Username</label>:
    <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
    <label for="password">Password</label>:
    <input type="password" id="password" name="password"/> <br />
    <input type="submit" value="Log in" />
    <input type="hidden" name="serviceUrl" th:value="${serviceUrl}">
</form>
</body>
</html>